.font-rem{
  font-family: 'REM', sans-serif;
}

.font-mono{
  font-family: monospace
}

@font-face{
  font-family: play-pretend;
  src: url(assets/font/Play_Pretend.otf);
}

.font-playpretend{
  font-family: play-pretend;
}
